@url background1 one;
@url background2 two;
@url background3 three;
@url background4 four;
@url background5 five;
@url background6 six;
@url background7 seven;
@url background8 eight;

.mainHeader
{
	float: left;
	margin-left:15px;
	margin-top:15px;
}

.mainLogo
{
	margin-right: 30px;
}

.playerButton
{
	margin-right: 10px;
	float: left;
}

.playerControls
{
	width: 150px;
	margin-left: 40px;
}

.bottomLogo
{
	position:absolute;
	bottom:1px;
	right: 1px;
	background-color: white!important;
}

.popupButton
{
	margin: auto;
}

.simpleAnchor
{
	clear:both;
	width: 9em;
	color: #85126b;
	text-decoration: none;
	margin-bottom: 7px; 
	display: block;
	font-size: 1.25em;
	border: 1px solid #85126b;
	text-align: center;
	background-color: white;
	opacity: 0.7;
	height: 2em;
	text-decoration: none;
}

.simpleAnchor:HOVER
{
	background-color: #85126b;
	color: white!important;
	text-decoration: none;
}

.simpleAnchor:VISITED
{
	color:#85126b;
}

.popupStyle
{
	margin-left: 170px;
	margin-top: 160px;
	max-width: 400px;
	max-height: 325px;
	background-color: #85126b;
	opacity: 0.9;
	color: white!important;
}

.popupStyle:HOVER
{
	color: black!important;
	background-color: white;
}

.popupStyle a
{
	color: white!important;
}

.popupStyle:HOVER a 
{
	color: black!important;
}

.bodySlide1
{
	background-image: background1;
	background-repeat: no-repeat;
	background-position: right;;
}

.bodySlide2
{
	background-image: background2;
	background-repeat: no-repeat;
	background-position: right;
}

.bodySlide3
{
	background-image: background3;
	background-repeat: no-repeat;
	background-position: right;
}

.bodySlide4
{
	background-image: background4;
	background-repeat: no-repeat;
	background-position: right;	
}

.bodySlide5
{
	background-image: background5;
	background-repeat: no-repeat;
	background-position: right;
}

.bodySlide6
{
	background-image: background6;
	background-repeat: no-repeat;
	background-position: right;
}

.bodySlide7
{
	background-image: background7;
	background-repeat: no-repeat;
	background-position: right;
}

.bodySlide8
{
	background-image: background8;
	background-repeat: no-repeat;
	background-position: right;
}

.backgroundSizer
{
	background-size: 100%;
}